<div class="topo-fixo">
  <h1>GerenciApp</h1>
  <div class="data-atual">{{ dataAtual | date:'dd/MM/yyyy HH:mm:ss' }}</div>
</div>

<div class="container">
  <button class="btn-adicionar" (click)="mostrarOpcao = !mostrarOpcao">+</button>
  <div *ngIf="mostrarOpcao" class="menu-flutuante">
    <button class="opcao" (click)="adicionarPanel('controle')">
      Criar Tela de Controle
    </button>
    <button class="opcao" (click)="adicionarPanel('relatorio')">
      Criar Tela de Relatório
    </button>
  </div>

  <div *ngFor="let p of panels; let i = index"
        class="control-card"
        [ngStyle]="{'top.px': p.top, 'left.px': p.left}">

      <!-- Control-->
    <app-control-panel *ngIf="p.type==='controle'" (remove)="panels.splice(i,1)"></app-control-panel>

        <!-- Report-->
    <div *ngIf="p.type==='relatorio'" class="relatorio-card">
          <div class="card-body">
            <p>Tela de Relatório (em construção)</p>
          </div>
    </div>
  </div>
</div>